.MainPost {
	list-style: none;
	background-color: #1a1a1b;
	padding: 10px;
	color: #c3c6c8;
}

.ButtonLayout {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.UpVote {
	width: 25px;
	height: 25px;
}
.DownVote {
	width: 25px;
	height: 25px;
	transform: rotate(180deg) scaleX(-1);
}
.Content {
	color: #1a1a1b;
}
.Comments {
	background-color: rgba(74, 74, 74, 0.214);
	border-radius: 5px;
}
.all-posts {
	color: #c3c6c8;
}
.Content {
	color: #c3c6c8;
}
