.NavBarLink {
	text-decoration: none;
	color: #d1d5d7;
}
.navBar {
	display: flex;
	justify-content: space-evenly;
	padding: 10px;
	border: solid #2e2f2f;
	background-color: #191919;
	align-items: center;
}
.formControl {
	width: 50em;
	background-color: #232324;
	border-radius: 5%;
	padding: 5px;
}
.mainIcon {
	color: #d1d5d7;
}
.NavBarWelcome {
	color: #d1d5d7;
}
.logoutDefault {
	background-color: #191919;
}
